* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: aquamarine;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  width: 90%;
	height: 45vw;
	margin: 2%  auto;
	position: relative;
	
}

.slider {
  border: 1px solid rgb(245, 11, 11);
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
  height: inherit;
	opacity: 0;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

.slide1 { background: url(./img/1.jpg)  0 0/100% 80% no-repeat; }
.slide2 { background: url(./img/2.jpg)  0 0/100% 80% no-repeat; }
.slide3 { background: url(./img/3.jpg)  0 0/100% 80% no-repeat; }
.slide4 { background: url(./img/4.jpg)  0 0/100% 80% no-repeat; }

.low-section {
  display: flex;
  height: 24%;
}
.text {
  width: 50%;
}
.wrapper .controls {
  border: 1px solid #000;
	width: 50%;
}

.wrapper label {
  margin: 7% 0 0 15%;
  background-color: rgb(65, 49, 160);
	cursor: pointer;
	display: inline-block;
	height: 2vw;
  width: 5%;
	position: relative;
	border-radius: 50%;
  transition: background ease-in-out .3s;
}

.wrapper label:after {
	border: 3px solid rgb(65, 49, 160);
  position: relative;
	content: " ";
	display: block;
  width: 110%;
	height: 2.5vw;
	left: -14%;
	top: -21%;
	border-radius: 50%;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background: #ddd;
}

.wrapper label:active:after, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	border: 3px solid white;
}

.text {
  padding: 3% 0 0 5%;
  font-size: 2rem;
}

.citates {
  height: inherit;
	position: absolute;
	width: inherit;
  height: inherit;
	opacity: 0;
	z-index: 0;
	transition: opacity ease-in-out .5s;
}

#slide1:checked ~ .low-section > .text > .citates1,
#slide2:checked ~ .low-section > .text > .citates2,
#slide3:checked ~ .low-section > .text > .citates3,
#slide4:checked ~ .low-section > .text > .citates4 {
	opacity: 1;
	z-index: 1;
  animation-duration: 1s;
  animation-name: showText;
}

@keyframes showText {
  from {
    transform: translateX(200%);
  }

  to {
    left: 0;
  }
}